/* Chameleon Theme Integration */
@import '/home/san/.config/wofi/colors.css';

window {
    margin: 0px;
    border: 2px solid @border;
    background-color: @background;
    border-radius: 12px;
    font-family: "FiraCode Nerd Font Mono", monospace;
    font-size: 14px;
}

#input {
    margin: 10px;
    padding: 10px;
    border: 2px solid @border;
    color: @foreground;
    background-color: @background;
    border-radius: 8px;
}

#inner-box {
    margin: 10px;
    background-color: @background;
}

#outer-box {
    margin: 5px;
    background-color: @background;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @c07_white;
}

#entry {
    margin: 2px 10px;
    padding: 5px;
    border-radius: 8px;
    border: none;
}

#entry:selected {
    background-color: @c05_violet;
    color: @background;
}

#entry:selected #text {
    color: @background;
    font-weight: bold;
}
