/* SANXZ4 Palette - Waybar */
@define-color c0_black #000000;
@define-color c8_white #ffffff;

@define-color c1_violet #dd55ff;
@define-color c2_orange #ffaa55;
@define-color c3_yellow #ffff55;
@define-color c4_green #55ff55;
@define-color c5_cyan #55ddff;
@define-color c6_blue #5555ff;
@define-color c7_indigo #9955ff;
@define-color c8_red #ff5555;

@define-color bg #110011;
@define-color border #440044;
@define-color hover #220022;

/* Semantic */
@define-color text_main @c1_violet;
@define-color text_sec @c8_white;
@define-color warning @c3_yellow;
@define-color critical @c8_red;
